nav.pc-sidebar
	.navbar-wrapper
		.m-header
			.b-brand
				img.logo.logo-lg(src='/public/images/logo.svg' alt='')
				img.logo.logo-sm(src='/public/images/logo-sm.svg' alt='')
		.navbar-content.perferct-scrollbar
			ul.pc-navbar
				each block in page.sidebar
					li.pc-item.pc-caption
						label #{block.label}
						span #{block.caption}
					each navItem in block.children
						- if(navItem.children)
							- if(page.url.includes(navItem.url))
								li.pc-item.pc-hasmenu.active.pc-trigger
									a.pc-link
										span.pc-micon
											span.fal.fa-user-alt
										span.pc-mtext= navItem.title
										.pc-arrow
											span.fal.fa-chevron-right
									ul.pc-submenu
										each navChildItem in navItem.children
											- if(page.url.includes(navChildItem.url))
												li.pc-item.active
													a.pc-link(href=navChildItem.url)= navChildItem.title
											- else
												li.pc-item
													a.pc-link(href=navChildItem.url)= navChildItem.title
							- else
								li.pc-item.pc-hasmenu
									a.pc-link
										span.pc-micon
											span.fal.fa-user-alt
										span.pc-mtext= navItem.title
										.pc-arrow
											span.fal.fa-chevron-right
									ul.pc-submenu
										each navChildItem in navItem.children
											- if(page.url.includes(navChildItem.url))
												li.pc-item.active
													a.pc-link(href=navChildItem.url)= navChildItem.title
											- else
												li.pc-item
													a.pc-link(href=navChildItem.url)= navChildItem.title
						- else
							- if(page.url.includes(navItem.url))
								li.pc-item.active
									a.pc-link(href=navItem.url)
										span.pc-micon
											span.fal.fa-home
										span.pc-mtext= navItem.title
							- else
								li.pc-item
									a.pc-link(href=navItem.url)
										span.pc-micon
											span.fal.fa-home
										span.pc-mtext= navItem.title
									